// COLORS
$primary-color: #35501d;
$secondary-color: #3e6e14;

$white-color: #92a580;

$dark-grey: #6f7e63;
$light-grey: #c5e6ad;

$dark-blue-text: #3e3434; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
